/**  style 全局变量  **/

/* color */
$primary-color = #358ec8  // 主题色
$warn-color = #ff6f6f   //提示色
$font-color = #727272 // 字体颜色
$bg-color = #f9f9f9  // 灰色背景
$border-color = rgba(7,17,27,0.1) // 边框
$border-color-input = #999
$green-color = #439500

