.form
  width 100%
  background #fff
  padding 10px 0
  border-top-bottom()
  margin-top 10px
  .info-wrapper
    .item
      display flex
      font-size 16px
      padding 5px 10px
      color $font-color
      &.light
        color $primary-color
        font-weight 600
      &-title
        flex 0 0 140px
        text-align right
        margin-right 12px
      &-content
        flex 1
        text-align left
        color #232323
        word-break break-all
        .tel
          color #232323
        .user
          font-style: normal
          color #232323
          margin-right 3px
  .stage-wrapper
    margin 0px auto
    width 80%
    .stage
      margin-bottom 20px
      border 1px solid #ccc
      padding 10px 25px
      .stage-item
        padding 5px
        & > div
          color $primary-color
  .btn.plian
    display: block
    margin 10px auto
    font-size 15px


